/*
Form Style : Mustafa Omran
*/

*{
    padding: 0;
    margin: 0;
}

#header{
    width: 100%;
    height: 60px;
    background-color: orange;
    
}

#body{
    width: 100%;
    height: 550px;
    opacity: 90%;
    background:url(bg.jpg) no-repeat;
    background-size: cover;
       
  }

#footer{
    width: 100%;
    height: 40px;
    background-color: orange;
    color: black;
    text-align: center;
    font-size: x-large;
    font-family: courier;
    font-weight: bolder;
    padding-top: 10px;
}

#title{
    text-align: center;
    font-size: x-large;
    color: black;
    font-family: courier;
    font-weight: bolder;
    padding-top: 20px;
}


#demo_form{
    width: 50%;
    height: 500px;
    font-size: x-large;
    font-family: courier;
    padding-top: 5px; 
    margin-left:40%; 
    color: black;
    font-family: courier;
    font-weight: bold;
    
}

#name,#email,#password,#repeated_password{
    
    width: 40%;
    height: 30px;
    background-color:#cccccc;
    border: none;
    border-radius: 5px;
    border:3px gray solid;
    display: block;
    color: #666666;
    font-size: large;
    font-family: courier;
    font-weight: bolder;
    padding-left: 5px;
 }
 
 #date,#submit{
    background-color: #cccccc;
    color: #666666;
    font-size: large;
    font-family: courier;
    font-weight: bolder; 
    border-radius: 5px;
    border:3px gray solid;
    width: 100px;
 }
 
  
#submit{
    background-color:orange;
    color: black;
    font-size: x-large;
    font-family: courier;
    font-weight: bolder; 
    border-radius: 5px;
    border:3px gray solid;
    width: 100px;
    padding: 2px;
    margin-top: 5px;
    margin-left: 200px;
 }
 
#submit:hover{
    background-color:#cccccc;
    border-color: #666666;
  }
  
  
  p{
      padding-top:200px;
      text-align: center;
      color: black;
      font-size: xx-large;
      font-family: courier;
      font-weight: bolder; 
  }
  
  #change_color{
      padding:0 auto;
      color: orange;
      font-size: xx-large;
      font-family: courier;
      font-weight: bolder; 
      float: right;
      margin-right: 600px;
      margin-top: 50px;
      background-color: honeydew;
      border-radius: 5px;
      border: 3px #666666 solid;
  }
